.btn-primario{

    background-color: #f47a30;
    padding-inline: 5%;
    border-radius: 0.5rem;
    font-weight: 600;
    padding-block: 1%;
    color: aliceblue;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease; 
    
  }


.btn-primario:hover {
    background-color: #d86427; /* Cambia a un tono más oscuro */
    transform: scale(0.99); /* Pequeño efecto de zoom */
    cursor: pointer; /* Cambia el cursor a una mano */
}