.naranja {
  color: #f47a30;
}

.fondo-naranja {
  background-color: #f47a30;
}

.acento {
  color: #f2a763;
}
.fondo-acento {
  background-color: #f2a763;
}

.gris {
  color: #2a2d2f;
}

.fondo-gris {
  background-color: #2a2d2f;
}

.alabaster {
  color: #d9dbdc;
}

.fondo-alabaster {
  background-color: #d9dbdc;
}
